/* 
PRIMARY COLORS: NAVY GREEN: #7B8574
SECONDARY COLORS: LIGHTER GREEN: #BED0BF

*/

* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #7B8574;
}
nav {
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
 padding: 1.5rem 2rem;
 color: #fff;
}
.checkbtn { 
font-size: 1.5rem;
color: white;
cursor: pointer;
}
.nav-mobile {
 display: none;
}
#check:checked ~ .nav-mobile {
 display: block;
}
.nav-mobile {
 position: absolute;
 top: 4.5rem;
 left: 0;
 background: #222831;
 z-index: 1;
 width: 200px;
}
.nav-mobile a {
 color: #fff;
 padding: 1rem 1.5rem;
 display: block;
}
#header-logo{
    height: 400px;
    width: 400px;
}
#gallery {
    height: 300px;
    width: 300px;
}
#header-logo{
    height: 200px;
    width: 200px;
}
h1 {
    color: #BED0BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}