/* 
PRIMARY COLORS: NAVY GREEN: #7B8574
SECONDARY COLORS: LIGHTER GREEN: #BED0BF
LOGO BLACK: #212020

*/

* {
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #7B8574;
}
nav {
 padding: 1.5rem 2rem;
 color: #212020;
 position: sticky;
}
.checkbtn { 
font-size: 1.5rem;
color: #212020;
cursor: pointer;
}
.nav-mobile {
 display: none;
}
#check:checked ~ .nav-mobile {
 display: block;
}
.nav-mobile {
 position: absolute;
 top: 4.5rem;
 left: 0;
 background: #222831;
 z-index: 1;
 width: 200px;
}
.nav-mobile a {
 color: #fff;
 padding: 1rem 1.5rem;
 display: block;
}
input[type="checkbox"] {
  display: none;
}
#gallery-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 100px;
}
#gallery {
    height: 300px;
    width: 300px;
    border: solid #BED0BF;
}
#audio-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#header-logo {
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header a, footer a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-family: "Oswald", sans-serif;
    color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2 {
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #212020;
    margin: 20px;
    gap: 20px;
    padding: 0px;
}
p{
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
}
#booking-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
label {
  font-size: 18px;
  font-family: "Quicksand"
}
legend {
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  color: #212121;
}
fieldset {
  border: 3px solid #BED0BF;
  border-radius: 10px;
  width: 400px;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
display: flexbox;
justify-content: center;
align-items: center;
height: 22px;
width: 200px;
border-radius: 15px;
border: none;
background-color:#BED0BF;
margin-left: 10px;
padding: 5px;
color: #212020;
}
input::placeholder {
  color: #212020;
  font-style: italic;
}
#forms {
    display: flex;
    justify-content: center;
    align-items: center;
}
#booking-section p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 2px #212020;
    background-color: #BED0BF;
    margin: 20px;
    padding: 20px;
}
#aboutimg {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#artsyfourppl {
    height: 400px;
    width: 400px;
    filter: brightness(0.9);
}
.about p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    padding: 10px;
    border: solid 2px #212020;
    background-color: #BED0BF;
}
#contact p{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #212020;
    background-color: #BED0BF;
    margin: 100px;
    padding: 20px;
}